@keyframes slide-titulo {
    from{left: -50vw;}
    to{left: 50vw;}
}

@keyframes slide-1 {
    from{left: -30vw;}
    to{left: 80vw;}
}

@keyframes slide-2 {
    from {left: -20vw;}
    to {left: 93vw;}
}