@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Source+Sans+Pro:wght@700&display=swap');

:root {
    --primary: #f2b933;
    --primary-traslucent: rgb(242, 185, 51, 0.8);
    --secondary: #c04402;
    --background: #222;
    --surface: #000;
    --error: #b00020;
    --on-primary: #000;
    --on-secondary: #fff;
    --on-surface: #f2ba33;
    --on-error: #fff;
}

.primary {
    background-color: var(--primary);
    color: var(--on-primary);
}

.on-primary {
    color: var(--on-primary);
}

.on-surface {
    color: var(--on-surface)
}

.barra {
    background-color: var(--primary-traslucent);
    backdrop-filter: blur(5px);
}

.borde {
    border: 1px solid red;
}

.boton {
    width: max-content;
    height: max-content;

    margin: 5px 20px;
    padding: 15px;
    
    border-radius: 10px;
    background-color: var(--primary);
    color: var(--on-primary);
    font-weight: bold;
    text-transform: uppercase;
}

.boton:hover {
    cursor: pointer;
}

.titulo-fuente {
    color: var(--on-primary);
}

.nav-link {
    color: var(--on-primary);
}

.nav-resaltado {
    color: var(--on-secondary);
    background-color: var(--secondary);
    border-bottom: 5px solid var(--on-primary);
}