.lienzo {
    width: 100vw;
    height: 100vh;
}

.cubrir-ancho {
    width: 100vw;
    height: auto;
}

.cubrir-alto {
    height: 100vh;
    width: auto;    
}

.barra {
    width: 100vw;
    height: 70px;
}

.inicio-dimensiones {
    width: 200px;
    height: 65px;
}

.video {
    width: 100vw;
    height: auto;
}

.titulo {
    box-sizing: border-box;
    width: 140px;
    height: 65px;
}

.titulo-icono {
    width: 100px;
    height: auto;
}

.titulo-texto {
    width: 140px;
}

.central {
    max-width: max-content;
}

.overlay-logo {
    width: 33vw;
    height: auto;
}