.lienzo {
    position: absolute;
    top: 0;
    left: 0;
}

.barra {
    position: relative;
    top: 0px;
    left: 0px;
}

.titulo {
    float: left;
    margin-top: 5px;
    margin-left: 15px;
}

.video-inicio {
    position: absolute;
}

.pie {
    position: absolute;
    bottom: 3%;
    left: 0;
}

.espacio-0 {
    margin-top: 1%;
}

.espacio-1 {
    margin-top: 5%;
}

.espacio-2 {
    margin-top: 10%;
}

.espacio-3 {
    margin-top: 15%;
}

.espacio-4 {
    margin-top: 20%;
}

.espacio-5 {
    margin-top: 25%;
}

.detras-1 {
    z-index: -1;
}

.sin-elevar {
    box-shadow: none;
    z-index: 0;
}

.elevado-1 {
    box-shadow: 2px 2px 5px var(--surface);
    z-index: 1;
}

.texto-elevado-1 {
    text-shadow: 2px 2px 5px var(--surface);
    z-index: 1;
}

.elevado-2 {
    box-shadow: 5px 5px 10px var(--surface);
    z-index: 2;
}

.texto-elevado-2 {
    text-shadow: 5px 5px 10px var(--surface);
    z-index: 2;
}

.elevado-3 {
    box-shadow: 7px 7px 15px var(--surface);
    z-index: 3;
}

.texto-elevado-3 {
    text-shadow: 7px 7px 15px var(--surface);
    z-index: 2;
}

.central {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.derecha {
    float: right;
}

.izquierda {
    float: left;
}

.boton {
    display: block;
    position: relative;
    float: left;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
}

.overlay-titulo {
    position: fixed;
    top: 28vh;

    animation-name: slide-titulo;
    animation-duration: 0.8s;
    animation-delay: 33.4s;
    animation-fill-mode: both;
}

.overlay-1 {
    position: fixed;
    top: 0vh;

    animation-name: slide-1;
    animation-duration: 1s;
    animation-delay: 33.2s;
    animation-fill-mode: both;
}

.overlay-2 {
    position: fixed;
    top: 0vh;

    animation-name: slide-2;
    animation-duration: 1.2s;
    animation-delay: 33s;
    animation-fill-mode: both;
}

.separacion-0 {
    margin-left: 1%;
    margin-right: 1%;
}
.separacion-1 {
    margin-left: 2%;
    margin-right: 2%;
}
.separacion-2{
    margin-left: 5%;
    margin-right: 5%;
}
.separacion-3{
    margin-left: 7%;
    margin-right: 7%;
}

.separacion-4 {
    margin-left: 10%;
    margin-right: 10%
}

.separacion-5 { 
    margin-left: 12%;
    margin-right: 12%
}
