body { 
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;

    position: relative;
    margin: 0px;

    overflow: hidden;
    background-color: var(--background);
    
    font-family: 'Outfit', sans-serif;
}

body.desplazable {
    width: 100vw;

    overflow-y: scroll;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: var(--surface);
}

::-webkit-scrollbar-thumb {
    background: var(--background);
}