body { 
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;

    position: relative;
    margin: 0px;

    overflow: hidden;
    background-color: var(--background);
    
    font-family: 'Outfit', sans-serif;
}

a {
    text-decoration: none;
}