body {
    background-image: url("/imagenes/fondo-inicio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;

    position: relative;
    margin: 0px;
    
    font-family: 'Outfit', sans-serif;
}

a {
    text-decoration: none;
}