/** Import google fonts Outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&family=Source+Sans+Pro:wght@700&display=swap');

*, *::after, *::before {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

}

/** Esquema de colores */
:root {
    --primary: #f2b933;
    --primary-traslucent: rgb(242, 185, 51, 0.8);
    --secondary: #000;
    --background: #222;
    --surface: #444;
    --shadow-color: #000;
    --error: #b00020;
    --on-primary: #000;
    --on-secondary: #fff;
    --on-surface: #fff;
    --on-error: #fff;

    --shadow: 5px 5px 5px black;
}

.borde-rojo {
    border: 1px solid red;
}

.borde-azul {
    border: 1px solid blue;
}

.borde-verde {
    border: 1px solid green;
}

.primary {
    background-color: var(--primary);
    color: var(--on-primary);
}

.secondary {
    background-color: var(--secondary);
    color: var(--on-secondary);
}

.surface {
    background-color: var(--surface);
    color: var(--on-surface);
}

.error {
    background-color: var(--error);
    color: var(--on-error);
}

.background {
    background-color: var(--background);
    color: var(--on-secondary);
}

.on-primary {
    color: var(--on-primary);
}

.on-surface {
    color: var(--on-surface)
}

/** Etiquetas */
body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    position: relative;

    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    
    font-family: 'Outfit', sans-serif;
}

a {
    text-decoration: none;
    color: var(--on-primary);
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: var(--surface);
}

::-webkit-scrollbar-thumb {
    background: var(--background);
}

.pie {
    position: absolute;
    bottom: 3%;
    left: 0;
}

.barra {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    z-index: 3;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    /* Colors and shapes */
    background-color: var(--primary-traslucent);
    backdrop-filter: blur(5px);
    box-shadow: var(--shadow);
}

.inicio {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;

    width: 100px;
    height: 50px;

    background-image: url("../imagenes/logo+texto-trazo-negro.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.extremo-derecho {
    /* Autolayout */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.nav-links {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    padding: 0px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.nav-link {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 16px;

    font-size: 24px;
    font-weight: 200;
    line-height: 50%;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.nav-resaltado {
    font-weight: bold;
    color: var(--on-secondary);
    background-color: var(--secondary);
    border-left: 5px solid var(--primary);
}

.boton {
    width: max-content;
    height: max-content;

    margin: 5px 20px;
    padding: 15px;

    display: block;
    position: relative;
    float: left;
    
    border: none;
    border-radius: 30px;
    background-color: var(--primary);
    color: var(--on-primary);
    box-shadow: var(--shadow);

    font-weight: bold;
    text-transform: lowercase;
}

.boton:hover {
    cursor: pointer;
}

.tarjeta {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    border-radius: 20px;
    box-shadow: var(--shadow);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.mosaico-horizontal {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 0;

    align-self: stretch;
    flex-grow: 1;
}

.mosaico-vertical {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;

    display: flex;
    justify-content: space-between;
}


.articulo {
    /* auto layout */
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.bocadillo {
    /* autoo layout */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 16px;
}
.titulo {
    margin-top: 24px;
    color: var(--on-surface);
    font-family: Outfit;
    font-weight: bold;
    font-size: 36px;
}

.cuerpo-texto {
    margin-top: 10px;
    color: var(--on-surface);
    font-family: Outfit;
    font-weight: 200;
    font-size: 14px;
}

.chip {
    padding: 7px;
    border-radius: 18px;
    box-shadow: var(--shadow);
}

.carrusel {
    /* Auto layout */
    display: flex;
    flex-direction: column;

    height: auto;

    padding: 20px;
}

.contenido{
    display:flex;
    flex-direction: row;

    width: 100%;
    height: auto;

    overflow: scroll;
    scroll-behavior: smooth;

    gap: 20px;
}

.contenido::-webkit-scrollbar{
    display: none;
}

.pagina {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    width: 100%;
    height: 100%;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.pagina img {
    width: 95%;
    height: auto;

    border-radius: 20px;
    box-shadow: var(--shadow);
}

.indicadores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    padding: 20px 0px;
}

.indicador {
    display: flex;

    width: 20px;
    height: 20px;
    border-radius: 50%;

    justify-content: center;

    background-color: rgba(242, 185, 51, 0.5);
}

.indicador[data-activo] {
    background-color: rgba(242, 185, 51, 1.0);
}

/*
.indicador.activo {
    background-color: rgba(242, 185, 51, 1.0);
}
*/


