@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400&family=Source+Sans+Pro:wght@400;700&display=swap');

.fuente {
    font-family: 'Outfit', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.titulo-fuente {
    line-height: 0.9;
    font-size: 24px;
    font-weight: bold;
}

.nav-link {
    line-height: 0.9;
    font-size: 26px;
    font-weight: 200;
    text-align: center;
}

.nav-resaltado {
    font-weight: bold;
}

.overlay-fuente {
    font-size: 10vh;
    text-shadow: 5px 5px 5px var(--surface);
}