.fuente {
    font-family: 'Outfit', sans-serif;
}

.titulo-fuente {
    line-height: 0.9;
    font-size: 24px;
    font-weight: bold;
}

.overlay-fuente {
    font-size: 10vh;
    text-shadow: 5px 5px 5px var(--surface);
}