.lienzo {
    align-self: stretch;
    flex-grow: 1;

    display: flex;

    padding: 20px;
}

.pagina {
    height: 70vh;
}

.panel-izquierdo {
    display: flex;
    flex-direction: column;
}

.panel-derecho {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
}

.titulo, .cuerpo-texto {
    text-align: center;
}