/** Import google fonts Outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&family=Source+Sans+Pro:wght@700&display=swap');

#proximo-viaje {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-top: 30px;
    padding-left: 30px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.tarjeta {
    width: 90vw;
    height: 80vh;
}

.mosaico-horizontal {
    align-self: stretch;
    flex-grow: 1;
}

.mosaico-vertical {
    /* auto layout */
    display: flex;
    justify-content: space-between;
}

#panel-izquierdo {
    /* auto layout */
    display: flex;
    flex-direction: column;

    padding: 0px;

    /* inside auto layout */
    align-self: stretch;
    order: 0;
    flex-grow: 1;
}

#panel-derecho {
    /* auto layout */
    display: flex;
    flex-direction: column;

    padding: 0px;

    /* inside auto layout */
    align-self: stretch;
    order: 1;
    flex-grow: 1;
}


.boton {
    font-family: Outfit;
    font-weight: normal;
    font-size: 24px;
    text-transform: lowercase;

    border-radius: 50px;
}

.carrusel {
    width: 40vw;
}

.contenido {
    /* auto layout */
    display: flex;
    flex-direction: row;

    /* inside auto layout */
    align-self: stretch;
    flex-grow: 1;
}